# MongoDB Configuration
MONGO_URI=mongodb+srv://riteshpatil9162_db_user:ritesh9162@cluster0.tycrkl7.mongodb.net/RentiGo?appName=Cluster0

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=lkfskjdnnjkjsd8858knkdhiodnnfhshdlkl
JWT_EXPIRE=30d

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_Rrkq2MMkiOPNBd
RAZORPAY_KEY_SECRET=69smKm6Ti3ESy7iKKbz5SCFC

# Cloudinary Configuration (for image uploads)
CLOUDINARY_CLOUD_NAME=diwwe6ngu
CLOUDINARY_API_KEY=793345328543193
CLOUDINARY_API_SECRET=cCvFAe9U5T03qO-xQ-yDB8QuGgQ

# Email Configuration (optional - for notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password

# Frontend URL
FRONTEND_URL=http://localhost:3000
