.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding-top: 80px;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  .main-content {
    padding-top: 65px;
  }
}
